h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.brushes-title {
  background-color: mediumspringgreen;
}
.frames-title {
  background-color: lightcoral;
}
.paint-title {
  background-color: skyblue;
}
h3 {
  font-family: Arial;
  font-size: 20px;
}
p {
  font-family: Helvetica;
}
.per-brush,
.per-frame,
.per-tube {
  font-weight: bold;
  color: blue;
}
